<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>  <!-- title of the web page -->
</head>
<body>
  <h2>Users List</h2>   
	<% if (users.length > 0) { %>
        <ul>
          <% users.forEach(user => { %>
            <li><%= user.name %></li>     <!-- Show the entered usernames in an unodered list -->
          <% }); %>
        </ul>
    <% } else { %>
        <h3>No Users Found.</h3>
    <% } %>
</body>
</html>